* {
    font-family: 'Roboto', sans-serif;
}

#logo-name {
    font-size: 40px;
}

.header-sub-div > a {
    text-decoration: none;
    color: black;
}

#body-div {
    font-family: 'Oswald', sans-serif;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

input[type=text]:focus{
    outline: none;
    border: 1px solid rgb(71, 71, 242); 
    transition: 800ms;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;   /* oranges! yey */
  }

#find-button:hover {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    transition: 500ms;
    cursor: pointer;
}

#option {
    text-align: center;
    color: white;
}

.input-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    padding: 5px;
}

.input-field {
    margin-left: 10px;
    margin-right: 10px;
    height: 26px;
    width: 300px;
    border-radius: 8px;
    border: none;
    padding: 4px 20px 5px;
    font-size: 15px;
}

@media (max-width: 800px) {
    .input-div {
      flex-direction: column;
      width: 100%;
      text-align: center;
    }

    .input-field {
        margin-top: 10px;
        width: 340px;
    }

    #find-button {
        margin-top: 10px;
        width: 380px;
    }
  }

  @media (min-width: 800px) and (max-width: 1100px) {
    .input-field {
        width: 200px;
    }

    #body-sub-div {
        left: 17%;
    }
  }